---
import Layout from '../layouts/Layout.astro';
import Role from '../components/Role.astro';
import SummarySection from '../components/SummarySection.astro';
import SummarySectionList from '../components/SummarySectionList.astro';
import { getCollection, getEntry } from 'astro:content';

const roles = await getCollection('roles');
const skillsSection = await getEntry('summary-sections', 'skills');
const renderedRoles = await Promise.all(roles.map(async role => {
  const { Content } = await role.render();
  return { ...role, Content };
}));

renderedRoles.sort((a, b) => {
  const aBegin = new Date(a.data.begin).getTime();
  const bBegin = new Date(b.data.begin).getTime();
  return bBegin - aBegin;
});
---

<Layout title="CV's CV">
  <div class="cv-page">
    <div class="cv">
      <aside class="summary-bar">
        <div>
          <svg class="logo" role="img" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 264 121"><title>Caio Viotti - UX Engineer</title><path fill="#fff" d="M10 71 2 57 34 1h64l8 14H42L10 71ZM74 71H26l8-14h32l16-28h16L74 71ZM161.727 31.471c-3.155 0-5.997-.659-8.528-1.976-2.531-1.352-4.524-3.207-5.98-5.564-1.456-2.357-2.184-5.01-2.184-7.956 0-2.947.728-5.599 2.184-7.956 1.456-2.392 3.449-4.247 5.98-5.564 2.531-1.352 5.373-2.028 8.528-2.028 2.877 0 5.356.433 7.436 1.3 2.115.867 3.935 2.253 5.46 4.16l-5.304 4.836c-1.976-2.392-4.403-3.588-7.28-3.588-2.531 0-4.628.815-6.292 2.444-1.629 1.63-2.444 3.761-2.444 6.396 0 1.733.364 3.276 1.092 4.628a8.044 8.044 0 0 0 3.12 3.068c1.352.728 2.86 1.092 4.524 1.092 2.877 0 5.304-1.196 7.28-3.588l5.304 4.836c-1.491 1.872-3.311 3.259-5.46 4.16-2.115.867-4.593 1.3-7.436 1.3ZM199.547 24.971h-13.988l-2.496 5.928h-7.956l13.416-29.9h8.112l13.468 29.9h-8.112l-2.444-5.928Zm-2.496-5.928-4.472-10.816-4.524 10.816h8.996ZM214.173.999h8.216v29.9h-8.216V.999ZM245.204 31.466c-3.189 0-6.067-.659-8.632-1.976-2.531-1.352-4.524-3.207-5.98-5.564-1.456-2.357-2.184-5.01-2.184-7.956 0-2.947.728-5.599 2.184-7.956 1.456-2.392 3.449-4.247 5.98-5.564 2.565-1.352 5.443-2.028 8.632-2.028s6.049.676 8.58 2.028c2.565 1.317 4.576 3.172 6.032 5.564 1.456 2.357 2.184 5.01 2.184 7.956 0 2.946-.728 5.598-2.184 7.956-1.456 2.357-3.467 4.212-6.032 5.564-2.531 1.317-5.391 1.976-8.58 1.976Zm0-6.708c1.595 0 3.033-.381 4.316-1.144a8.042 8.042 0 0 0 3.068-3.12c.728-1.352 1.092-2.86 1.092-4.524 0-1.699-.364-3.207-1.092-4.524a7.948 7.948 0 0 0-3.068-3.172c-1.283-.763-2.721-1.144-4.316-1.144-1.595 0-3.051.381-4.368 1.144-1.283.763-2.306 1.82-3.068 3.172-.728 1.317-1.092 2.825-1.092 4.524 0 1.664.364 3.172 1.092 4.524a8.536 8.536 0 0 0 3.068 3.12c1.317.762 2.773 1.144 4.368 1.144ZM150.109 41.1l-13 29.9h-8.112l-13-29.9h8.736l8.528 20.332 8.736-20.332h8.112ZM151.848 41.1h8.216V71h-8.216V41.1ZM180.528 71.572c-3.189 0-6.066-.659-8.632-1.976-2.53-1.352-4.524-3.207-5.98-5.564-1.456-2.357-2.184-5.01-2.184-7.956 0-2.947.728-5.599 2.184-7.956 1.456-2.392 3.45-4.247 5.98-5.564 2.566-1.352 5.443-2.028 8.632-2.028 3.19 0 6.05.676 8.58 2.028 2.566 1.317 4.576 3.172 6.032 5.564 1.456 2.357 2.184 5.01 2.184 7.956 0 2.947-.728 5.599-2.184 7.956-1.456 2.357-3.466 4.212-6.032 5.564-2.53 1.317-5.39 1.976-8.58 1.976Zm0-6.708c1.595 0 3.034-.381 4.316-1.144a8.036 8.036 0 0 0 3.068-3.12c.728-1.352 1.092-2.86 1.092-4.524 0-1.699-.364-3.207-1.092-4.524a7.941 7.941 0 0 0-3.068-3.172c-1.282-.763-2.721-1.144-4.316-1.144-1.594 0-3.05.381-4.368 1.144-1.282.763-2.305 1.82-3.068 3.172-.728 1.317-1.092 2.825-1.092 4.524 0 1.664.364 3.172 1.092 4.524a8.552 8.552 0 0 0 3.068 3.12c1.318.763 2.774 1.144 4.368 1.144ZM251.844 41.1h8.216V71h-8.216V41.1ZM207.599 47.496h-9.412V41.1h50.551v6.396h-9.412V71h-8.216V47.496h-15.295V71h-8.216V47.496ZM10.342 117.192c-2.208 0-3.944-.632-5.208-1.896-1.264-1.264-1.896-3.112-1.896-5.544V100.2h2.4v9.456c0 1.872.408 3.24 1.224 4.104.832.864 2 1.296 3.505 1.296 1.52 0 2.688-.432 3.503-1.296.833-.864 1.248-2.232 1.248-4.104V100.2h2.329v9.552c0 2.432-.633 4.28-1.896 5.544-1.248 1.264-2.985 1.896-5.209 1.896ZM29.044 117l6.985-9.528v1.848l-6.6-9.12h2.735l5.233 7.176-1.08.024 5.208-7.2h2.616l-6.552 8.976v-1.728L44.572 117h-2.76l-5.567-7.656H37.3L31.803 117h-2.76Zm45.226-9.552h8.64v2.04h-8.64v-2.04Zm.216 7.464h9.792V117H72.086v-16.8h11.856v2.088h-9.456v12.624ZM97.284 117v-16.8h1.968l11.112 13.8h-1.032v-13.8h2.4V117h-1.968l-11.112-13.8h1.032V117h-2.4Zm36.181.192c-1.296 0-2.488-.208-3.576-.624a8.649 8.649 0 0 1-2.832-1.8 8.502 8.502 0 0 1-1.872-2.736c-.448-1.04-.672-2.184-.672-3.432 0-1.248.224-2.392.672-3.432a8.232 8.232 0 0 1 1.872-2.712 8.41 8.41 0 0 1 2.856-1.8c1.088-.432 2.288-.648 3.6-.648 1.328 0 2.544.216 3.648.648a7.217 7.217 0 0 1 2.808 1.944l-1.488 1.488c-.688-.672-1.44-1.16-2.256-1.464a6.98 6.98 0 0 0-2.616-.48c-.96 0-1.856.16-2.688.48a6.544 6.544 0 0 0-2.136 1.344 6.184 6.184 0 0 0-1.392 2.064c-.32.784-.48 1.64-.48 2.568 0 .912.16 1.768.48 2.568.336.784.8 1.472 1.392 2.064a6.544 6.544 0 0 0 2.136 1.344c.816.32 1.704.48 2.664.48.896 0 1.752-.136 2.568-.408.832-.288 1.6-.76 2.304-1.416l1.368 1.824c-.832.704-1.808 1.24-2.928 1.608a11.23 11.23 0 0 1-3.432.528Zm4.056-2.448v-6.24h2.304v6.552l-2.304-.312ZM153.54 117v-16.8h2.4V117h-2.4Zm16.55 0v-16.8h1.968L183.17 114h-1.032v-13.8h2.4V117h-1.968l-11.112-13.8h1.032V117h-2.4Zm30.78-9.552h8.64v2.04h-8.64v-2.04Zm.216 7.464h9.792V117h-12.192v-16.8h11.856v2.088h-9.456v12.624Zm24.982-7.464h8.64v2.04h-8.64v-2.04Zm.216 7.464h9.792V117h-12.192v-16.8h11.856v2.088h-9.456v12.624ZM249.082 117v-16.8h6.552c1.472 0 2.728.232 3.768.696 1.04.464 1.84 1.136 2.4 2.016.56.88.84 1.928.84 3.144 0 1.216-.28 2.264-.84 3.144-.56.864-1.36 1.528-2.4 1.992-1.04.464-2.296.696-3.768.696h-5.232l1.08-1.104V117h-2.4Zm11.232 0-4.272-6.096h2.568l4.32 6.096h-2.616Zm-8.832-5.976-1.08-1.176h5.16c1.536 0 2.696-.328 3.48-.984.8-.672 1.2-1.608 1.2-2.808 0-1.2-.4-2.128-1.2-2.784-.784-.656-1.944-.984-3.48-.984h-5.16l1.08-1.2v9.936Z" style="mix-blend-mode:difference"/></svg>
          <h1 class="me">Caio Viotti</h1>
          <h2 class="mytitle">UX Engineer</h2>
        </div>
        <SummarySection title={skillsSection.data.title}>
          {skillsSection.data.subsections?.map(subsection => (
            <SummarySectionList title={subsection.title} items={subsection.items} />
          ))}
        </SummarySection>
        <SummarySection title="Education">
          <div class="inner-summary -education">
            <h4>B.Sc.(Ed) Computer Science</h4>
            <p><b><a href="https://www.unb.br/">University of Brasilia</a></b></p>
            <p><b><a href="https://www.usnews.com/education/best-global-universities/universidade-de-brasilia-504217">Top 10 in Brazil</a></b></p>
            <p class="note">* 50% completed (not pursuing)</p>
          </div>
        </SummarySection>
        <SummarySection title="Personal">
          <ul class="inner-summary -personal">
            <li>
              Brazilian / EU citizen
              <svg class="icon" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 22 22"><path fill="#fff" d="M1.33 1.33H13.65A4 4 0 0 0 10.67 0H0v18.67h5.33v-1.33h-4v-16Z"/><path fill="#fff" fill-rule="evenodd" d="M5.33 3.12a4.67 4.67 0 0 0 0 8.43V10a3.33 3.33 0 0 1-1.26-2h1.26V6.67H4.07c.16-.81.62-1.52 1.26-2V3.12ZM4 7.32v.02-.01Z" clip-rule="evenodd"/><path fill="#fff" d="M5.33 16v-1.33H4V16h1.33Z"/><path fill="#fff" fill-rule="evenodd" d="M19 10.34a4.67 4.67 0 1 0-9.33 0 4.67 4.67 0 0 0 9.33 0Zm-1.4.66c-.2 1-.84 1.83-1.72 2.29.23-.64.38-1.43.44-2.29h1.28Zm-6.53 0c.2 1 .84 1.83 1.72 2.29a8.61 8.61 0 0 1-.43-2.29h-1.3Zm3.08 2.11a6.72 6.72 0 0 1-.46-2.1h1.29c-.06.86-.24 1.59-.46 2.1-.06.16-.13.28-.18.37-.06-.1-.13-.21-.2-.37Zm0-5.55c-.22.52-.4 1.25-.46 2.1h1.29a6.71 6.71 0 0 0-.46-2.1 2.75 2.75 0 0 0-.18-.37l-.2.37Zm3.45 2.1h-1.28a8.61 8.61 0 0 0-.44-2.28c.88.46 1.52 1.3 1.72 2.29Zm-5.24 0c.05-.85.2-1.64.43-2.28a3.34 3.34 0 0 0-1.72 2.29h1.29Zm-1.36.67v.01-.01Z" clip-rule="evenodd"/><path fill="#fff" d="M11 17.67h6.67V19H11v-1.33Z"/><path fill="#fff" fill-rule="evenodd" d="M7 3h10.67a4 4 0 0 1 4 4v10.67a4 4 0 0 1-4 4H7V3Zm1.33 1.33h9.34c1.47 0 2.67 1.2 2.67 2.67v10.67c0 1.47-1.2 2.67-2.67 2.67H8.33v-16Z" clip-rule="evenodd"/></svg>
            </li>
            <li>
              <a href="tel:5561992354318">+5561992354318</a>
              <svg class="icon" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 22 23"><g clip-path="url(#a)"><path fill="#fff" fill-rule="evenodd" d="m12.833 14.168 2.83-2.829 5.186 5.187-2.829 2.83a6.67 6.67 0 0 1-9.43 0l-5.66-5.66a6.67 6.67 0 0 1 0-9.43l2.83-2.83 5.187 5.188-2.83 2.829c-.52.52-.52 1.365 0 1.886l2.83 2.83c.52.52 1.365.52 1.886 0Zm-6.07-5.127a2.668 2.668 0 0 0 .412 3.241l2.829 2.83a2.668 2.668 0 0 0 3.241.411l3.331 3.332a5.336 5.336 0 0 1-7.044-.443l-5.658-5.658A5.336 5.336 0 0 1 3.43 5.71l3.332 3.33Zm.883-1.003 1.415-1.414L5.76 3.323 4.345 4.737l3.301 3.301Zm9.903 9.903 1.414-1.415-3.3-3.3-1.415 1.414 3.3 3.3Z" clip-rule="evenodd"/></g><defs><clipPath id="a"><path fill="#fff" d="M.06.958H21.4v21.34H.06z"/></clipPath></defs></svg>
            </li>
            <li>
              <a href="mailto:caio@viotti.me">caio@viotti.me</a>
              <svg class="icon" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 22 22"><path fill="#fff" fill-rule="evenodd" d="M10.73 15.915 7.396 12.58 2.337 17.64h16.786l-5.058-5.059-3.335 3.335Zm4.278-4.278 5.059 5.059V6.579l-5.06 5.058Zm6.392 7.336H.06V4.302H21.4v14.67ZM19.123 5.635H2.337l8.393 8.393 8.393-8.393ZM1.394 6.58l5.059 5.058-5.059 5.059V6.579Z" clip-rule="evenodd"/></svg>
            </li>
            <li>
              <a href='http://linkedin.com/in/caioviotti'>linkedin.com/in/caioviotti</a>
              <svg class="icon" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 22 22"><g fill="#fff" fill-rule="evenodd" clip-path="url(#a)" clip-rule="evenodd"><path d="M5.395 2.978a2.667 2.667 0 1 1-5.334 0 2.667 2.667 0 0 1 5.334 0Zm-1.333 0a1.334 1.334 0 1 1-2.668 0 1.334 1.334 0 0 1 2.668 0ZM13.398 14.32v7.33H8.063V6.98h5.335v.558c.924-.502 2.146-.97 3.37-.87 2.025.164 3.267 1.33 3.923 2.775.613 1.35.728 2.942.71 4.226a236.533 236.533 0 0 0-.003 6.481l.002.147.02 1.354h-5.355v-7.307a3.274 3.274 0 0 0-.039-.356 3.976 3.976 0 0 0-.228-.866c-.243-.6-.542-.857-1.038-.857-.369 0-.57.106-.703.217-.157.132-.3.342-.417.635a3.886 3.886 0 0 0-.242 1.196v.008Zm-1.334-4.053a.362.362 0 0 1 .05-.093c.157-.226.64-.66 1.284-1.084.919-.603 2.165-1.183 3.262-1.094 2.933.237 3.443 3.206 3.407 5.652a246.61 246.61 0 0 0 0 6.668h-2.668v-6.001s-.093-3.385-2.64-3.385c-1.003 0-1.633.469-2.028 1.058a3.214 3.214 0 0 0-.242.43c-.425.909-.425 1.896-.425 1.896v6.002H9.397V8.313h2.667v1.954ZM.06 6.979v14.67h5.335V6.98H.061Zm4.002 1.333H1.394v12.004h2.668V8.312Z"/></g><defs><clipPath id="a"><path fill="#fff" d="M.06.31H21.4v21.34H.06z"/></clipPath></defs></svg>
            </li>
          </ul>
        </SummarySection>
      </aside>
      <main class="work-history">
        <h3>Experience</h3>
        <div class="roles">
          {renderedRoles.map(({ data, Content }, index) => (
            <>
              <Role {...data}>
                <Content />
              </Role>
              {index < renderedRoles.length - 1 && <hr />}
            </>
          ))}
        </div>
      </main>
    </div>

    <div class="icon-bar">
      <a class="icon" href="/">
        <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 32 32"><path fill="#000" d="m14 26 1.41-1.41L7.83 17H28v-2H7.83l7.58-7.59L14 6 4 16l10 10Z"/></svg>
      </a>
      <button class="icon" onclick="window.print()">
        <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 32 32"><path fill="#000" d="M28 9h-3V3H7v6H4a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h3v6h18v-6h3a2 2 0 0 0 2-2V11a2 2 0 0 0-2-2ZM9 5h14v4H9V5Zm14 22H9V17h14v10Zm5-6h-3v-6H7v6H4V11h24v10Z"/></svgaria-hidden="true">
      </button>
    </div>
  </div>
</Layout>

<style lang="scss" is:global>
  .cv-page {
    display: grid;
    align-content: center;
    justify-items: center;
    gap: var(--size-7);
    padding-block: var(--size-8);
    min-height: 100dvh;

    .cv {
      display: grid;
      grid-template-columns: 260px 1fr;
      grid-template-rows: repeat(auto-fit, minmax(0px, 1fr));
      width: 210mm;
      height: 297mm;
      box-shadow: 0 0 200px 0px hsla(0, 0%, 100%, 0.3);

      hr {
        height: 1px;
        background-color: var(--gray-4);
        margin: 0;
      }

      :where(a) {
        text-decoration: underline;
        padding-right: 0.85em;
        color: inherit;

        &::after {
          content: '↗';
          position: absolute;
          margin-left: 0.2em;
          font-weight: var(--font-weight-5);
        }
      }

      :where(h1) {
        font-size: 35.6px;
      }

      :where(h3) {
        font-size: var(--font-size-2);
        font-weight: var(--font-weight-8);
        text-transform: uppercase;
        letter-spacing: var(--font-letterspacing-4);
      }

      :where(h4) {
        font-size: 14px;
        font-weight: var(--font-weight-7);
      }
    }
  }

  .summary-bar {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    padding: var(--size-5);
    background-color: black;

    .me {
      font-size: var(--font-size-00);
      text-wrap: nowrap;
      margin-top: -20px;
      color: hsl(0deg 0% 0% / 1%);
    }

    .mytitle {
      font-size: var(--font-size-00);
      text-wrap: nowrap;
      color: hsl(0deg 0% 0% / 1%);
    }

    .logo {
      width: 100%;
      margin-bottom: var(--size-3);
      margin-top: var(--size-1);
    }

    .inner-summary {
      text-align: end;

      a {
        color: inherit;
      }

      &.-education {
        > * {
        line-height: var(--font-lineheight-4);
        }

        p {
          font-size: 10px;
          font-weight: var(--font-weight-5);
          letter-spacing: var(--font-letterspacing-2);
          text-transform: uppercase;
          color: var(--gray-6);
        }

        .note {
          font-size: var(--font-size-0);
          font-weight: var(--font-weight-4);
          letter-spacing: unset;
          text-transform: unset;
        }
      }

      &.-personal {
        display: flex;
        flex-direction: column;
        gap: var(--size-3);
        list-style: none;
        font-size: var(--font-size-0);
        font-weight: var(--font-weight-6);

        li {
          display: flex;
          gap: var(--size-2);
          justify-content: flex-end;
          align-items: center;

          .icon {
            width: 24px;
            flex: 0 0 auto;
          }
        }
      }
    }
  }

  .work-history {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: var(--size-5);
    color: var(--gray-9);

    h3 {
      margin-bottom: 12px;
    }

    .roles {
      flex: 1;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      gap: var(--size-1);
    }
  }

  .icon-bar {
      display: flex;
      border-radius: var(--radius-round);
      background-color: white;
      width: fit-content;
      box-shadow: 0 0 50px -12px hsla(0, 0%, 100%, 0.6);

      .icon {
        box-sizing: content-box;
        padding: var(--size-3);
        border-radius: var(--radius-round);
        width: 32px;
        background-color: unset;
        box-shadow: 0 0 48px -12px transparent;
        scale: 0.925;
        transition: box-shadow 400ms cubic-bezier(0.8, 0.6, 0, 1), scale 200ms ease-in;

        &:hover {
          box-shadow: 0 0 72px -12px white;
          scale: 1;
        }
      }
    }

@media print {
  @page {
    size: a4;
    margin: 0;
  }

  html {
    background-color: unset;

    > *:not(body, head) {
      display: none !important;
    }
  }

  body {
    > *:not(.cv-page) {
      display: none !important;
    }
  }

  .cv-page {
    > *:not(.cv) {
      display: none !important;
    }
  }

  .cv-page {
    padding: 0;
    -webkit-print-color-adjust: exact;
    color-adjust: exact;
    print-color-adjust: exact;
  }
}
</style>
