---
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <div class="home-page">
    <div class="wrapper">
      <svg class="logo" role="img" xmlns="http://www.w3.org/2000/svg" width="264" height="121" fill="none" viewBox="0 0 264 121"><title>Caio Viotti - UX Engineer</title><path fill="#fff" d="M10 71 2 57 34 1h64l8 14H42L10 71Zm64 0H26l8-14h32l16-28h16L74 71Zm87.727-39.529c-3.155 0-5.997-.659-8.528-1.976-2.531-1.352-4.524-3.207-5.98-5.564-1.456-2.357-2.184-5.01-2.184-7.956 0-2.947.728-5.599 2.184-7.956 1.456-2.392 3.449-4.247 5.98-5.564 2.531-1.352 5.373-2.028 8.528-2.028 2.877 0 5.356.433 7.436 1.3 2.115.867 3.935 2.253 5.46 4.16l-5.304 4.836c-1.976-2.392-4.403-3.588-7.28-3.588-2.531 0-4.628.815-6.292 2.444-1.629 1.63-2.444 3.761-2.444 6.396 0 1.733.364 3.276 1.092 4.628a8.044 8.044 0 0 0 3.12 3.068c1.352.728 2.86 1.092 4.524 1.092 2.877 0 5.304-1.196 7.28-3.588l5.304 4.836c-1.491 1.872-3.311 3.259-5.46 4.16-2.115.867-4.593 1.3-7.436 1.3Zm37.82-6.5h-13.988l-2.496 5.928h-7.956l13.416-29.9h8.112l13.468 29.9h-8.112l-2.444-5.928Zm-2.496-5.928-4.472-10.816-4.524 10.816h8.996ZM214.173.999h8.216v29.9h-8.216V.999Zm31.031 30.467c-3.189 0-6.067-.659-8.632-1.976-2.531-1.352-4.524-3.207-5.98-5.564-1.456-2.357-2.184-5.01-2.184-7.956 0-2.947.728-5.599 2.184-7.956 1.456-2.392 3.449-4.247 5.98-5.564 2.565-1.352 5.443-2.028 8.632-2.028s6.049.676 8.58 2.028c2.565 1.317 4.576 3.172 6.032 5.564 1.456 2.357 2.184 5.01 2.184 7.956 0 2.946-.728 5.598-2.184 7.956-1.456 2.357-3.467 4.212-6.032 5.564-2.531 1.317-5.391 1.976-8.58 1.976Zm0-6.708c1.595 0 3.033-.381 4.316-1.144a8.042 8.042 0 0 0 3.068-3.12c.728-1.352 1.092-2.86 1.092-4.524 0-1.699-.364-3.207-1.092-4.524a7.948 7.948 0 0 0-3.068-3.172c-1.283-.763-2.721-1.144-4.316-1.144-1.595 0-3.051.381-4.368 1.144-1.283.763-2.306 1.82-3.068 3.172-.728 1.317-1.092 2.825-1.092 4.524 0 1.664.364 3.172 1.092 4.524a8.536 8.536 0 0 0 3.068 3.12c1.317.762 2.773 1.144 4.368 1.144ZM150.109 41.1l-13 29.9h-8.112l-13-29.9h8.736l8.528 20.332 8.736-20.332h8.112Zm1.739 0h8.216V71h-8.216V41.1Zm28.68 30.472c-3.189 0-6.066-.659-8.632-1.976-2.53-1.352-4.524-3.207-5.98-5.564-1.456-2.357-2.184-5.01-2.184-7.956 0-2.947.728-5.599 2.184-7.956 1.456-2.392 3.45-4.247 5.98-5.564 2.566-1.352 5.443-2.028 8.632-2.028 3.19 0 6.05.676 8.58 2.028 2.566 1.317 4.576 3.172 6.032 5.564 1.456 2.357 2.184 5.01 2.184 7.956 0 2.947-.728 5.599-2.184 7.956-1.456 2.357-3.466 4.212-6.032 5.564-2.53 1.317-5.39 1.976-8.58 1.976Zm0-6.708c1.595 0 3.034-.381 4.316-1.144a8.036 8.036 0 0 0 3.068-3.12c.728-1.352 1.092-2.86 1.092-4.524 0-1.699-.364-3.207-1.092-4.524a7.941 7.941 0 0 0-3.068-3.172c-1.282-.763-2.721-1.144-4.316-1.144-1.594 0-3.05.381-4.368 1.144-1.282.763-2.305 1.82-3.068 3.172-.728 1.317-1.092 2.825-1.092 4.524 0 1.664.364 3.172 1.092 4.524a8.552 8.552 0 0 0 3.068 3.12c1.318.763 2.774 1.144 4.368 1.144ZM251.844 41.1h8.216V71h-8.216V41.1Zm-44.245 6.396h-9.412V41.1h50.551v6.396h-9.412V71h-8.216V47.496h-15.295V71h-8.216V47.496ZM10.342 117.192c-2.208 0-3.944-.632-5.208-1.896-1.264-1.264-1.896-3.112-1.896-5.544V100.2h2.4v9.456c0 1.872.408 3.24 1.224 4.104.832.864 2 1.296 3.505 1.296 1.52 0 2.688-.432 3.503-1.296.833-.864 1.248-2.232 1.248-4.104V100.2h2.329v9.552c0 2.432-.633 4.28-1.896 5.544-1.248 1.264-2.985 1.896-5.209 1.896ZM29.044 117l6.985-9.528v1.848l-6.6-9.12h2.735l5.233 7.176-1.08.024 5.208-7.2h2.616l-6.552 8.976v-1.728L44.572 117h-2.76l-5.567-7.656H37.3L31.803 117h-2.76Zm45.226-9.552h8.64v2.04h-8.64v-2.04Zm.216 7.464h9.792V117H72.086v-16.8h11.856v2.088h-9.456v12.624ZM97.284 117v-16.8h1.968l11.112 13.8h-1.032v-13.8h2.4V117h-1.968l-11.112-13.8h1.032V117h-2.4Zm36.181.192c-1.296 0-2.488-.208-3.576-.624a8.649 8.649 0 0 1-2.832-1.8 8.502 8.502 0 0 1-1.872-2.736c-.448-1.04-.672-2.184-.672-3.432 0-1.248.224-2.392.672-3.432a8.232 8.232 0 0 1 1.872-2.712 8.41 8.41 0 0 1 2.856-1.8c1.088-.432 2.288-.648 3.6-.648 1.328 0 2.544.216 3.648.648a7.217 7.217 0 0 1 2.808 1.944l-1.488 1.488c-.688-.672-1.44-1.16-2.256-1.464a6.98 6.98 0 0 0-2.616-.48c-.96 0-1.856.16-2.688.48a6.544 6.544 0 0 0-2.136 1.344 6.184 6.184 0 0 0-1.392 2.064c-.32.784-.48 1.64-.48 2.568 0 .912.16 1.768.48 2.568.336.784.8 1.472 1.392 2.064a6.544 6.544 0 0 0 2.136 1.344c.816.32 1.704.48 2.664.48.896 0 1.752-.136 2.568-.408.832-.288 1.6-.76 2.304-1.416l1.368 1.824c-.832.704-1.808 1.24-2.928 1.608a11.23 11.23 0 0 1-3.432.528Zm4.056-2.448v-6.24h2.304v6.552l-2.304-.312ZM153.54 117v-16.8h2.4V117h-2.4Zm16.55 0v-16.8h1.968L183.17 114h-1.032v-13.8h2.4V117h-1.968l-11.112-13.8h1.032V117h-2.4Zm30.78-9.552h8.64v2.04h-8.64v-2.04Zm.216 7.464h9.792V117h-12.192v-16.8h11.856v2.088h-9.456v12.624Zm24.982-7.464h8.64v2.04h-8.64v-2.04Zm.216 7.464h9.792V117h-12.192v-16.8h11.856v2.088h-9.456v12.624ZM249.082 117v-16.8h6.552c1.472 0 2.728.232 3.768.696 1.04.464 1.84 1.136 2.4 2.016.56.88.84 1.928.84 3.144 0 1.216-.28 2.264-.84 3.144-.56.864-1.36 1.528-2.4 1.992-1.04.464-2.296.696-3.768.696h-5.232l1.08-1.104V117h-2.4Zm11.232 0-4.272-6.096h2.568l4.32 6.096h-2.616Zm-8.832-5.976-1.08-1.176h5.16c1.536 0 2.696-.328 3.48-.984.8-.672 1.2-1.608 1.2-2.808 0-1.2-.4-2.128-1.2-2.784-.784-.656-1.944-.984-3.48-.984h-5.16l1.08-1.2v9.936Z"/></svg>

      <div class="icon-bar">
        <a class="icon" href="https://www.linkedin.com/in/caioviotti/" target="_blank">
          <svg aria-hidden="true" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg" width="32" height="32"><path d="M4.5 6v5m6 0V8.5a2 2 0 10-4 0V11 6M4 4.5h1M1.5.5h12a1 1 0 011 1v12a1 1 0 01-1 1h-12a1 1 0 01-1-1v-12a1 1 0 011-1z" stroke="currentColor"></path></svg>
        </a>
        <a class="icon" href="https://github.com/cfviotti" target="_blank">
          <svg aria-hidden="true" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg" width="32" height="32"><path d="M5.65 12.477a.5.5 0 10-.3-.954l.3.954zm-3.648-2.96l-.484-.128-.254.968.484.127.254-.968zM9 14.5v.5h1v-.5H9zm.063-4.813l-.054-.497a.5.5 0 00-.299.852l.352-.354zM12.5 5.913h.5V5.91l-.5.002zm-.833-2.007l-.466-.18a.5.5 0 00.112.533l.354-.353zm-.05-2.017l.456-.204a.5.5 0 00-.319-.276l-.137.48zm-2.173.792l-.126.484a.5.5 0 00.398-.064l-.272-.42zm-3.888 0l-.272.42a.5.5 0 00.398.064l-.126-.484zM3.383 1.89l-.137-.48a.5.5 0 00-.32.276l.457.204zm-.05 2.017l.354.353a.5.5 0 00.112-.534l-.466.181zM2.5 5.93H3v-.002l-.5.002zm3.438 3.758l.352.355a.5.5 0 00-.293-.851l-.06.496zM5.5 11H6l-.001-.037L5.5 11zM5 14.5v.5h1v-.5H5zm.35-2.977c-.603.19-.986.169-1.24.085-.251-.083-.444-.25-.629-.49a4.8 4.8 0 01-.27-.402c-.085-.139-.182-.302-.28-.447-.191-.281-.473-.633-.929-.753l-.254.968c.08.02.184.095.355.346.082.122.16.252.258.412.094.152.202.32.327.484.253.33.598.663 1.11.832.51.168 1.116.15 1.852-.081l-.3-.954zm4.65-.585c0-.318-.014-.608-.104-.878-.096-.288-.262-.51-.481-.727l-.705.71c.155.153.208.245.237.333.035.105.053.254.053.562h1zm-.884-.753c.903-.097 1.888-.325 2.647-.982.78-.675 1.237-1.729 1.237-3.29h-1c0 1.359-.39 2.1-.892 2.534-.524.454-1.258.653-2.099.743l.107.995zM13 5.91a3.354 3.354 0 00-.98-2.358l-.707.706c.438.44.685 1.034.687 1.655l1-.003zm-.867-1.824c.15-.384.22-.794.21-1.207l-1 .025a2.12 2.12 0 01-.142.82l.932.362zm.21-1.207a3.119 3.119 0 00-.27-1.195l-.913.408c.115.256.177.532.184.812l1-.025zm-.726-.99c.137-.481.137-.482.136-.482h-.003l-.004-.002a.462.462 0 00-.03-.007 1.261 1.261 0 00-.212-.024 2.172 2.172 0 00-.51.054c-.425.091-1.024.317-1.82.832l.542.84c.719-.464 1.206-.634 1.488-.694a1.2 1.2 0 01.306-.03l-.008-.001a.278.278 0 01-.01-.002l-.006-.002h-.003l-.002-.001c-.001 0-.002 0 .136-.482zm-2.047.307a8.209 8.209 0 00-4.14 0l.252.968a7.209 7.209 0 013.636 0l.252-.968zm-3.743.064c-.797-.514-1.397-.74-1.822-.83a2.17 2.17 0 00-.51-.053 1.259 1.259 0 00-.241.03l-.004.002h-.003l.136.481.137.481h-.001l-.002.001-.003.001a.327.327 0 01-.016.004l-.008.001h.008a1.19 1.19 0 01.298.03c.282.06.769.23 1.488.694l.543-.84zm-2.9-.576a3.12 3.12 0 00-.27 1.195l1 .025a2.09 2.09 0 01.183-.812l-.913-.408zm-.27 1.195c-.01.413.06.823.21 1.207l.932-.362a2.12 2.12 0 01-.143-.82l-1-.025zm.322.673a3.354 3.354 0 00-.726 1.091l.924.38c.118-.285.292-.545.51-.765l-.708-.706zm-.726 1.091A3.354 3.354 0 002 5.93l1-.003c0-.31.06-.616.177-.902l-.924-.38zM2 5.93c0 1.553.458 2.597 1.239 3.268.757.65 1.74.88 2.64.987l.118-.993C5.15 9.09 4.416 8.89 3.89 8.438 3.388 8.007 3 7.276 3 5.928H2zm3.585 3.404c-.5.498-.629 1.09-.584 1.704L6 10.963c-.03-.408.052-.683.291-.921l-.705-.709zM5 11v3.5h1V11H5zm5 3.5V13H9v1.5h1zm0-1.5v-2.063H9V13h1z" fill="currentColor"></path></svg>
        </a>
        <a class="icon" href="/cv">
          <svg aria-hidden="true" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg" width="32" height="32"><path d="M4.5 6.995H4v1h.5v-1zm6 1h.5v-1h-.5v1zm-6 1.998H4v1h.5v-1zm6 1.007h.5v-1h-.5v1zm-6-7.003H4v1h.5v-1zM8.5 5H9V4h-.5v1zm2-4.5l.354-.354L10.707 0H10.5v.5zm3 3h.5v-.207l-.146-.147-.354.354zm-9 4.495h6v-1h-6v1zm0 2.998l6 .007v-1l-6-.007v1zm0-5.996L8.5 5V4l-4-.003v1zm8 9.003h-10v1h10v-1zM2 13.5v-12H1v12h1zM2.5 1h8V0h-8v1zM13 3.5v10h1v-10h-1zM10.146.854l3 3 .708-.708-3-3-.708.708zM2.5 14a.5.5 0 01-.5-.5H1A1.5 1.5 0 002.5 15v-1zm10 1a1.5 1.5 0 001.5-1.5h-1a.5.5 0 01-.5.5v1zM2 1.5a.5.5 0 01.5-.5V0A1.5 1.5 0 001 1.5h1z" fill="currentColor"></path></svg>
        </a>
      </div>
    </div>
  </div>
</Layout>

<style lang="scss" is:global>
  .home-page {
    display: grid;
    place-items: center;
    min-height: 100dvh;
    width: 100dvw;

    .wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: var(--size-10);
    }

    .logo {
      width: 260px;
    }

    .icon-bar {
      display: flex;
      border-radius: var(--radius-round);
      background-color: white;
      width: fit-content;
      padding-inline: var(--size-2);
      box-shadow: 0 0 50px -12px hsla(0, 0%, 100%, 0.6);

      .icon {
        padding: var(--size-3);
        border-radius: var(--radius-round);
        width: 32px;
        box-sizing: content-box;
        transition: box-shadow 400ms cubic-bezier(0.8, 0.6, 0, 1), scale 200ms ease-in;
        scale: 0.925;
        box-shadow: 0 0 48px -12px transparent;

        @apply text-gray-900;

        &:hover {
          box-shadow: 0 0 72px -12px white;
          scale: 1;
        }
      }
    }
  }
</style>
